body {
	background-color: black;
}
#jokePlace {
    position: relative;
    text-align: center;
}
img { 
   position: relative; 
   width: 50%;
   text-align:center;
   height: auto;
   image-orientation: from-image;
   display: block;
   margin: auto;
}

h2 { 
   position: absolute; 
   bottom: 5%; 
   width: 50%;
   text-align:center;
   height: auto;
   position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   text-align:center;
   height: auto;
}
#buttonPlace{
	text-align: center;
}
.jokeButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
	transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 4px;
	padding: 16px 32px;
}

.jokeButton:hover {
    background-color: #555555;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.jokeButton:active {
	transform: translateY(4px);
}

